In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
%matplotlib inline

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,East London,ZA,2022-02-10 02:05:14,-33.0153,27.9116,67.59,77,0,6.02
1,1,Ambulu,ID,2022-02-10 02:05:14,-8.3450,113.6058,83.68,67,100,2.73
2,2,Sitka,US,2022-02-10 02:05:15,57.0531,-135.3300,42.69,87,100,17.27
3,3,Upernavik,GL,2022-02-10 02:05:15,72.7868,-56.1549,-13.74,80,100,11.61
4,4,Pevek,RU,2022-02-10 02:05:15,69.7008,170.3133,-31.11,99,98,4.99

In [3]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
max_temp

0      67.59
1      83.68
2      42.69
3     -13.74
4     -31.11
       ...
578    66.51
579    55.45
580    71.01
581    79.30
582    59.92
Name: Max Temp, Length: 583, dtype: float64

Percent Humidity Heatmap

In [6]:
#Get the latitude and longitude
locations = city_data_df[['Lat', 'Lng']]

#Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#Assign heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

#Add the heatmap layer
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
locations = city_data_df[['Lat', 'Lng']]
humidity = city_data_df['Humidity']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
Percent Cloudiness Heatmap

In [8]:
locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

Wind Speed Heatmap

In [9]:
locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

VACATION Criterias

In [11]:
#Ask the customer to add a minimum and maximum temperature value
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
#Filter the data set to find the cities that fit the crieteria
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Ambulu,ID,2022-02-10 02:05:14,-8.3450,113.6058,83.68,67,100,2.73
10,10,Pandan,PH,2022-02-10 02:05:17,14.0453,124.1694,81.14,70,100,14.41
13,13,Busselton,AU,2022-02-10 02:05:18,-33.6500,115.3333,80.04,41,5,6.89
14,14,Avarua,CK,2022-02-10 02:05:19,-21.2078,-159.7750,80.65,83,100,16.11
16,16,Muncar,ID,2022-02-10 02:05:19,-8.4333,114.3333,84.60,66,100,2.28
17,17,Kokopo,PG,2022-02-10 02:05:19,-4.3520,152.2633,85.53,65,93,7.83
18,18,Hilo,US,2022-02-10 02:05:20,19.7297,-155.0900,76.73,73,20,6.91
19,19,Rikitea,PF,2022-02-10 02:03:44,-23.1203,-134.9692,79.07,72,50,16.42
26,26,Bathsheba,BB,2022-02-10 02:05:22,13.2167,-59.5167,77.22,72,13,18.45
36,36,Mataura,NZ,2022-02-10 02:03:37,-46.1927,168.8643,81.05,34,23,6.13

In [13]:
preferred_cities_df.count()

City_ID       131
City          131
Country       131
Date          131
Lat           131
Lng           131
Max Temp      131
Humidity      131
Cloudiness    131
Wind Speed    131
dtype: int64

In [14]:
#Create a data frame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
1      Ambulu      ID     83.68  -8.3450  113.6058
10     Pandan      PH     81.14  14.0453  124.1694
13  Busselton      AU     80.04 -33.6500  115.3333
14     Avarua      CK     80.65 -21.2078 -159.7750
16     Muncar      ID     84.60  -8.4333  114.3333
17     Kokopo      PG     85.53  -4.3520  152.2633
18       Hilo      US     76.73  19.7297 -155.0900
19    Rikitea      PF     79.07 -23.1203 -134.9692
26  Bathsheba      BB     77.22  13.2167  -59.5167
36    Mataura      NZ     81.05 -46.1927  168.8643

In [15]:
#Set parameters to search for a hotel
params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key
}

#Iterate through the data frame
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    #Add the latitude and longitude to location key for the params dictionary
    params['location'] = f"{lat},{lng}"
    
    #Use the search term: "lodging" and our latitude and longitude
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    #Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    #Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Ambulu,ID,83.68,-8.3450,113.6058,Hotel Ambulu Jember
10,Pandan,PH,81.14,14.0453,124.1694,Bonifacio Lodge
13,Busselton,AU,80.04,-33.6500,115.3333,Observatory Guest House
14,Avarua,CK,80.65,-21.2078,-159.7750,Paradise Inn
16,Muncar,ID,84.60,-8.4333,114.3333,Zaky Homestay
17,Kokopo,PG,85.53,-4.3520,152.2633,Kokopo Beach Bungalow Resort
18,Hilo,US,76.73,19.7297,-155.0900,Hilo Hawaiian Hotel
19,Rikitea,PF,79.07,-23.1203,-134.9692,People ThankYou
26,Bathsheba,BB,77.22,13.2167,-59.5167,Atlantis Hotel
36,Mataura,NZ,81.05,-46.1927,168.8643,Ellie's Villa

In [17]:
#Add a heatmap of temperature for vacation spots
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, 
                                 max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
#Add a heatmap of temperature for vacation spots
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, 
                                 max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
#Add a heatmap of temperature for vacation spots and a pop-up marker for each city
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, 
                                 max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

NameError: name 'hotel_info' is not defined