## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)
%matplotlib inline

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Luderitz,-26.6481,15.1594,68.74,68,41,11.77,NaN,scattered clouds
1,1,Laguna,38.4210,-121.4238,65.25,72,0,0.00,US,clear sky
2,2,Hilo,19.7297,-155.0900,72.81,91,14,1.99,US,few clouds
3,3,New Norfolk,-42.7826,147.0587,74.66,29,8,3.00,AU,clear sky
4,4,Albany,42.6001,-73.9662,36.09,89,38,2.37,US,scattered clouds

In [3]:
city_data_df.dtypes

City_ID                  int64
City                    object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Country                 object
Current Description     object
dtype: object

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Get the maximum temperature.
max_temp = float(input('What is the maximum temperature you would like for your trip? '))
min_temp = float(input('What is the minimum temperature you would like for your trip? '))

What is the maximum temperature you would like for your trip? 90
What is the minimum temperature you would like for your trip? 75

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
clean_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
6,6,Carnarvon,-24.8667,113.6333,87.58,57,13,6.87,AU,few clouds
12,12,Atuona,-9.8000,-139.0333,78.35,74,9,17.09,PF,clear sky
13,13,Vanimo,-2.6741,141.3028,81.37,83,97,1.90,PG,overcast clouds
15,15,Touros,-5.1989,-35.4608,79.70,79,17,8.46,BR,few clouds
17,17,Pundaguitan,6.3711,126.1689,81.10,79,79,9.19,PH,broken clouds
...,...,...,...,...,...,...,...,...,...,...
687,687,Rancho Palos Verdes,33.7445,-118.3870,75.27,48,0,10.36,US,clear sky
690,690,Shwebo,22.5667,95.7000,77.27,30,0,4.41,MM,clear sky
698,698,Bowen,-20.0167,148.2333,84.27,59,2,16.33,AU,clear sky
699,699,Ransang,8.9603,117.5828,84.88,66,65,7.00,PH,light rain
700,700,Kieta,-6.2167,155.6333,82.31,82,97,7.02,PG,moderate rain

In [6]:
# 4a. Determine if there are any empty rows.
clean_df.isnull().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                1
Current Description    0
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=clean_df.dropna()
clean_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
6,6,Carnarvon,-24.8667,113.6333,87.58,57,13,6.87,AU,few clouds
12,12,Atuona,-9.8000,-139.0333,78.35,74,9,17.09,PF,clear sky
13,13,Vanimo,-2.6741,141.3028,81.37,83,97,1.90,PG,overcast clouds
15,15,Touros,-5.1989,-35.4608,79.70,79,17,8.46,BR,few clouds
17,17,Pundaguitan,6.3711,126.1689,81.10,79,79,9.19,PH,broken clouds
...,...,...,...,...,...,...,...,...,...,...
687,687,Rancho Palos Verdes,33.7445,-118.3870,75.27,48,0,10.36,US,clear sky
690,690,Shwebo,22.5667,95.7000,77.27,30,0,4.41,MM,clear sky
698,698,Bowen,-20.0167,148.2333,84.27,59,2,16.33,AU,clear sky
699,699,Ransang,8.9603,117.5828,84.88,66,65,7.00,PH,light rain
700,700,Kieta,-6.2167,155.6333,82.31,82,97,7.02,PG,moderate rain

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Carnarvon,AU,87.58,few clouds,-24.8667,113.6333,
12,Atuona,PF,78.35,clear sky,-9.8000,-139.0333,
13,Vanimo,PG,81.37,overcast clouds,-2.6741,141.3028,
15,Touros,BR,79.70,few clouds,-5.1989,-35.4608,
17,Pundaguitan,PH,81.10,broken clouds,6.3711,126.1689,
20,Vaini,TO,82.13,clear sky,-21.2000,-175.2000,
31,Rikitea,PF,79.47,light rain,-23.1203,-134.9692,
34,Nabire,ID,82.04,overcast clouds,-3.3667,135.4833,
38,Avarua,CK,82.45,few clouds,-21.2078,-159.7750,
40,Pochutla,MX,75.81,clear sky,15.7432,-96.4661,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['lng']
    params['location'] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 

    # 6e. Make request and retrieve the JSON data from the search. 
    
       hotels = requests.get(base_url), params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping.')

SyntaxError: invalid syntax (Temp/ipykernel_1660/2629047703.py, line 15)

In [10]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Carnarvon,AU,87.58,few clouds,-24.8667,113.6333,
12,Atuona,PF,78.35,clear sky,-9.8000,-139.0333,
13,Vanimo,PG,81.37,overcast clouds,-2.6741,141.3028,
15,Touros,BR,79.70,few clouds,-5.1989,-35.4608,
17,Pundaguitan,PH,81.10,broken clouds,6.3711,126.1689,
...,...,...,...,...,...,...,...
687,Rancho Palos Verdes,US,75.27,clear sky,33.7445,-118.3870,
690,Shwebo,MM,77.27,clear sky,22.5667,95.7000,
698,Bowen,AU,84.27,clear sky,-20.0167,148.2333,
699,Ransang,PH,84.88,light rain,8.9603,117.5828,
700,Kieta,PG,82.31,moderate rain,-6.2167,155.6333,

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))